<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>My first website</title>
        <link rel="stylesheet" href="stylesheets/style.css">
    </head>
    <body>
        <div>
            <h1>Witaj na mojej stronie domowej</h1>
            <img src="graphics/my_photo.png" alt="Mój portet" title="To ja">
            <h1 class = "blue">O mnie</h1>
            <p>Kiedyś lubiłem się zajmować piwem, teraz już nie lubię.</p>
            <ul>
                <li><strong>Imię:</strong> Jan</li>
                <li><strong>Nazwisko:</strong> Szyprzak</li>
            </ul>
        </div> 
    </body>
</html>